@import "../../App.scss";

.mobile-nav{
    position: fixed;
    left: 0;
    top: 0;
    background: black;
    z-index: 1;
    ion-icon{
        position: fixed;
        right: 20px;
        top: 20px;
        color: $primary;
        font-size: 3rem;
        z-index: 2;
        &:active{
            color: white;
        }
        &:hover{
            cursor: pointer;
        }
    }
    ul{
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style: none;
        gap: 4rem;
        li:hover{
            cursor: pointer;
        }
        li > a{
            text-transform: uppercase;
            font-family: $primary-font;
            font-size: 2rem;
            text-decoration: none;
            color: $primary;
            &:active{
                color: white;
            }
        }
    }
}
