@import "../../../App.scss";

.project {
  position: relative;
  min-height: 325px;
  border: 3px solid $primary;
  border-radius: 10px;
  border-top-right-radius: 0;
  padding: 1rem;
  padding-top: 3rem;
  &::before {
    content: "";
    position: absolute;
    right: -3px;
    border-top-right-radius: 10px;
    top: -17.8px;
    height: 15px;
    width: 35%;
    background: $background;
    border: 3px solid $primary;
    border-bottom: none;
  }
  &::after{
      content: '';
      position: absolute;
      top: -15.5px;
      transform: rotate(41deg);
      right: 33.9%;
      background: $background;
      border-left: 3.5px solid $primary;
      height: 21px;
      width: 12px;

  }

  h1 {
    color: white;
    font-size: 1.75rem;
    margin-bottom: 15px;
  }
  .content {
    color: lightgrey;
    font-size: 1.1rem;
    line-height: 1.5em;
  }
  ion-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: $primary;
    font-size: 2.5rem;
    transition: all .2s ease;
    &:hover{
        cursor: pointer;
        color: white;
        transform: translateY(-5px);
    }
  }
}
.projects-container {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2, minmax(300px, 400px));
  @media screen and (max-width: 700px) {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
