@import "../../App.scss";

#About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .intro {
    min-height: 100vh;
    max-width: 1000px;
    font-family: "Poppins", sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      align-self: flex-start;
      h3 {
        color: $secondary-font-color;
        align-self: flex-end;
        font-size: clamp(1rem, 2vw, 1.5rem);
      }
    }
    h1 {
      flex-basis: auto;
      position: relative;
      text-transform: uppercase;
      font-size: clamp(3em, 11vw, 10em);
      color: transparent;
      -webkit-text-stroke: 2px var(--clr);
      &::after {
        content: attr(data-text);
        position: absolute;
        left: 0;
        top: 0;
        color: var(--clr);
      }
    }
    p {
      color: white;
      font-size: clamp(1.2rem, 3vw, 1.7rem);
    }
    aside {
      position: relative;
      display: flex;
      gap: 1.5rem;
      align-self: flex-end;
      justify-content: center;
      flex-wrap: wrap;
      border: 2px solid $primary;
      border-radius: 1rem;
      padding: 15px 30px;
      @media screen and (max-width: 420px){
          padding: 15px 10px;
      }
      &::before {
        content: "<stack/>";
        position: absolute;
        top: -10px;
        right: 30px;
        color: $primary;
        background: $background;
      }
      ion-icon {
        position: relative;
        color: $primary;
        font-size: 4rem;
        transition: all 0.2s ease;
        flex-basis: 4rem;
        &:hover {
          cursor: pointer;
          color: white;
          transform: translateY(-5px);
        }
      }
    }
  }
}
