@import "../../../App.scss";

.trait-container{
    position: absolute;
    top: 0;
    left: -20px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $background;
}
.trait{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: $content-width;
    padding: 1rem;
    gap: 2rem;
    min-height: 100vh;
    background: $background;
    &.alt{
        flex-direction: row-reverse;
    }
    svg{
        max-width: 500px;
        min-width: 300px;
    }
    aside{
        max-width: 600px;
        font-family: "Poppins", sans-serif;
        div > svg{
            height: 450px;
        }
        h1{
            font-size: $header-size; 
            color: white;
            margin-bottom: 10px;
            span{
                display: inline-block;
                position: relative;
                &::after{
                    content: '';
                    height: 3px;
                    width: calc(100% + 30px);
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: $primary;
                }
            }
        }
        p{
            color: lightgrey;
            font-size: clamp(1.25rem, 1.5vw, 1.5rem);
            font-weight: 500;
        }
    } 
    @media screen and (max-width: 920px){
        flex-direction: column;
        justify-content: center;
        height: 500px;
        max-width: 400px;
        svg{
            width: 100%;
            height: auto;
        }
        &.alt{
            flex-direction: column;
        }
    } 
}
