@import "./App.scss";
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}
#root {
  position: relative;
  background: $background;
  padding: 0 200px;
  @media screen and (max-width: 920px) {
    padding: 0 60px;
  }
}
