@import "./App.scss";
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

html {
  scroll-behavior: smooth;
}
#root {
  position: relative;
  background: $background;
  padding: 0 150px;
  @media screen and (max-width: 920px) {
    padding: 0 20px;
  }
}
